{% extends 'layout/base.twig' %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1>Sign In</h1>
        <form class="form-horizontal" action="{{ url('passport.signin') }}" method="post">
            {% if flash.error %}
                <div class="flash alert alert-error">
                    {{ flash.error }}
                </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block jsfoot %}
{% endblock %} 
